global-include *.py *.pyx
exclude release.py
exclude backyard
exclude backyard/*
include nesoni-script
include nesoni_scripts/*
include README
include CHANGES
include COPYING
include MANIFEST
include MANIFEST.in
include test/data/*
exclude test/output/*
include nesoni-r/*
include nesoni-r/R/*
